fieldset{
	border:0;
	padding:0px;
	margin:0px;
	position:relative;
	background:transparent;
        z-index:2;
}

fieldSet input{
        float:left;
}

fieldSet textarea{
        float:left;
}

fieldSet.welldone div{
         margin-top: -4px;
         float:left;
         width:40px;
         height:31px;
 	 background:transparent url(http://www.koozi.be/vallidation/bg-fieldset-welldone.png) no-repeat 11px 0px;

}

fieldSet.nogood div{ 
         margin-top: -4px;
         float:left;
         width: 40px;
         height:31px;
	 background:transparent url(http://www.koozi.be/vallidation/bg-fieldset-kindagood.gif) no-repeat 11px 0px;

}

fieldSet.error div{ 
         margin-top: -4px;
         float:left;
         width: 40px;
         height:31px;
	 background:transparent url(http://www.koozi.be/vallidation/bg-fieldset-error.gif) no-repeat 11px 0px;

}

span.hint{
         float:left;
	font:normal 11px/14px verdana;
        background:#ffffcc url(http://www.koozi.be/vallidation/bg-span-hint-kindagood.png) no-repeat top left;
	xxxxbackground:#eee url(http://www.koozi.be/vallidation/bg-span-hint-gray.gif) no-repeat top left;
	color:#444;
	border:1px solid #888;
        top:-8px;
	padding: 5px 5px 5px 40px;
	width:200px;
	position:absolute;
 	margin-left:5px;
        z-index:100;
	display:none;

        min-height: 30px;
}

span.error{
         float:left;
	font:normal 11px/14px verdana;
       	color:#444;

        top:-8px;
	padding: 5px 5px 5px 40px;
	width:200px;
	position:absolute;
 	margin-left:5px;
        z-index:100;
	display:inline;

        min-height: 30px;
}

 
 
fieldset.welldone span.hint {
	background:#9fd680 url(http://www.koozi.be/vallidation/bg-span-hint-welldone.png) no-repeat top left;
	border-color:#749e5c;
	color:#000;
}
fieldset.kindagood span.hint {
	background:#ffffcc url(http://www.koozi.be/vallidation/bg-span-hint-kindagood.png) no-repeat top left;
	border-color:#cc9933;

}


 
fieldset.welldone {
	xxxbackground:transparent url(http://www.koozi.be/vallidation/bg-fieldset-welldone.png) no-repeat 170px -5px;

}

 

fieldset.nogood{
	xxxbackground:transparent url(http://www.koozi.be/vallidation/bg-fieldset-kindagood.gif) no-repeat 170px -5px;

}
 

